<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  					http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
					http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.rest"></context:component-scan>
    <context:component-scan base-package="com.cg.dao"></context:component-scan>   
    <context:component-scan base-package="com.cg.entities"></context:component-scan>
    <context:component-scan base-package="com.cg.repositories"></context:component-scan>
    
    <import resource="classpath:META-INF/spring/app-db-config.xml"/>
    
 </beans>